/*满屏*/
body {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #fff;
}

/*头部通栏*/
.jd_topbar {
	height: 45px;
	width: 100%;
	background: url("../images/header-bg.png") repeat-x;
	background-size: 1px 44px;
	border-bottom: 1px solid #e0e0e0;
	position: absolute;
	z-index: 999999;
}
.jd_topbar .icon_back {
	background-position: -20px 0;
	width: 20px;
	height: 20px;
	display: block;
	margin: 12px 10px;
	position: absolute;
	top: 0;
	left: 0;
}
.jd_topbar form {
	width: 100%;
	height: 44px;
	padding: 0 40px;
}
.jd_topbar form input {
	width: 100%;
	height: 32px;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	margin-top: 6px;
}
.jd_topbar .icon_menu {
	background-position: -60px 0;
	width: 40px;
	height: 44px;
	display: block;
	padding: 12px 10px;
	
	background-clip: content-box;
	background-origin: content-box;
	
	position: absolute;
	top: 0;
	right: 0;
}

/*分类大盒子*/
.jd_category {
	height: 100%;
	width: 100%;
	padding-top: 45px;
	position: relative;
}
/*左边类别盒子*/
.jd_category_left {
	width: 90px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;	
	padding-top: 45px;
	z-index: 99;
	overflow: hidden;
}
.jd_category_left ul li {
	height: 50px;
	width: 90px;
	background: #f3f4f6;
	font-size: 12px;
	font-family: sans-serif;
}
.jd_category_left ul li a {
	height: 50px;
	width: 90px;
	display: block;
	text-align: center;
	line-height: 50px;
	border-right: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
}
.jd_category_left ul li.active {
	background: #fff;
}
.jd_category_left ul li.active a {
	color: #f15353;
	border-right: none;
}
/*右边盒子*/
.jd_category_right {
	width: 100%;
	height: 100%;
	padding-left: 90px;
	overflow: hidden;
}
.jd_category_right .jd_category_right_box {
	padding: 10px 12px;
}
.jd_category_right .jd_category_right_box .banner {
	width: 100%;
}
.jd_category_right .jd_category_right_box .banner a img {
	width: 100%;
}
.jd_category_right .jd_category_right_box .content {
	margin-top: 20px;
	font-size: 12px;
}
.jd_category_right .jd_category_right_box .content h3 {
	color: #888;
	margin-bottom: 10px;
}
.jd_category_right .jd_category_right_box .content ul li {
	width: 33.333333%;
	text-align: center;
	float: left;
}
.jd_category_right .jd_category_right_box .content ul li img {
	display: block;
	width: 62px;
	height: 62px;
	margin: 0 auto;
}
.jd_category_right .jd_category_right_box .content ul li p {
	line-height: 30px;
}
