body{
    background: #f5f5f5;
}

/*主体盒子*/
.jd_layout {
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}
/*搜索头部*/
.jd_header {
    width: 100%;
    position: fixed;			/*fixed 是以  最外层容器 计算的*/
    top: 0;
    left: 0;
    height: 40px;
    z-index: 999;
}
/*搜索头部的内容*/
.jd_header .jd_header_box {
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    background: rgba(201,21,35,0.85);
    height: 40px;
}
/*logo*/
.jd_header .jd_header_box .icon_logo {
    background-position:0 -103px;
    width: 60px;
    height: 36px;
    display: block;
    position: absolute;
    top: 4px;
    left: 10px;
}
.jd_header > .jd_header_box > .login {
	width: 50px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 15px;
}
.jd_header > .jd_header_box > form {
	width:100%;
	padding-left: 75px;
	padding-right: 50px;
	height: 40px;
	position: relative;
}
.jd_header > .jd_header_box > form > input {
	width: 100%;								/*百分比 适配是根据父容器来的*/
	height: 30px;
	border-radius: 15px;
	margin-top: 5px;
	padding-left: 30px;
}
.jd_header > .jd_header_box > form > .icon_search {
	height: 20px;
	width: 20px;
	position: absolute;
	background-position: -60px -109px;
	top: 10px;
	left: 85px;
}


/*轮播图*/
.jd_banner {
	width: 100%;								/*不能设置高度，根据图片的高度自动撑开*/
	position: relative;
	overflow: hidden;
}
.jd_banner > ul:first-child {
	width: 1000%;								/*10张图片，10个100%*/
	-webkit-transform: translateX(-10%);		/*CSS3 属性尽可能兼容webkit内核*/
	transform: translateX(-10%);
}
.jd_banner > ul:first-child > li {
	width: 10%;		
	float: left;
}
.jd_banner > ul:first-child > li > a {
	width: 100%;
	display: block;
}
.jd_banner > ul:first-child > li > a > img {
	width: 100%;
	display: block;
}

.jd_banner > ul:last-child {
	width: 118px;
	position: absolute;
	bottom: 6px;
	left: 50%;
	height: 6px;
	margin-left: -59px;
}
.jd_banner > ul:last-child > li {
	width: 6px;
	height: 6px;
	float: left;
	border-radius: 3px;
	border: 1px solid #fff;
	margin-left: 10px;
}
.jd_banner > ul:last-child > li.active {
	background: #fff;
}
.jd_banner > ul:last-child > li:nth-child(1){
	margin-left: 0;
}

/*导航栏*/
.jd_nav {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
}
.jd_nav > ul {
	width: 100%;
	padding: 10px 0;
}
.jd_nav > ul > li {
	width: 25%;
	float: left;
}
.jd_nav > ul > li > a {
	display: block;
}
.jd_nav > ul > li > a > img {
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 auto;
}
.jd_nav > ul > li > a > p {
	text-align: center;
	color: #666;
	font-size: 12px;
	padding: 6px;
	
}
/*商品主区块*/
.jd_product {
	padding: 0 5px;
}
.jd_product > .product_box {
	width: 100%;
	min-height: 300px;
	background: #fff;
	margin-top: 10px;
	box-shadow: 0 0 1px #e0e0e0;
}
.jd_product > .product_box > .product_box_title {
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #e0e0e0;
}
.jd_product > .product_box > .product_box_title.no_border {
	border-bottom: none;
}
.jd_product > .product_box > .product_box_title > h3 {
	font-weight: normal;
	font-size: 15px;
	padding-left: 20px;
	position: relative;
	color: #666;
}
.jd_product > .product_box > .product_box_title > h3::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	width: 3px;
	height: 12px;
	background: #d8505c;
}
